@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');  

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
    
}

form {
  width: 300px;
  padding: 30px;
  height: 60%;
    background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
}

form:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

h1 {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: 2px;
  color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: poppins, sans-serif;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-family: poppins, sans-serif;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: chocolate;
}

a{
    text-decoration: none;
    color: #007bff;
}
a:hover {
  text-decoration: underline;
  color: chocolate;
}
